.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a4884;
    background: transparent;
    /* box-shadow: 0px 8px 10px gray; */
    padding: 20px;
    width: 100%;
    border-radius: 5px;
 
  }
  
  .title {
    color: white;
    font-size: 24px;
  }
  
  .addButton {
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }